services:
  lidarr:
    container_name: lidarr
    image: ghcr.io/hotio/lidarr
    ports:
      - "8686:8686"
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=Etc/UTC
    volumes:
      - ./lidarr:/config
      - /media/thomas/gros/Gros/share/Audiotheque:/data
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
#    user: uid:gid
    network_mode: 'host'
    volumes:
      - ./jellyfin:/config
      - /tmp:/cache
      - type: bind
        source: /media/thomas/gros/Gros/Plex
        target: /media
      - type: bind
        source: /media/thomas/gros/Gros/share/Audiotheque
        target: /media-music
    restart: 'unless-stopped'
    extra_hosts:
      - 'host.docker.internal:host-gateway'
  plex:
    image: plexinc/pms-docker:public
    container_name: plex
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./plex:/config
      - ./plex/tmp:/transcode
      - /media/thomas/gros/Gros/Plex:/data
      - /media/thomas/gros/Gros/share/Audiotheque:/music
    environment:
      TZ: $TZ
      HOSTNAME: "dockerPlex"
      PLEX_CLAIM: claim-xxxxxxx
      PLEX_UID: $PUID
      PLEX_GID: $PGID
      ADVERTISE_IP: http://192.168.50.10:32400/
      ALLOWED_NETWORKS: 192.168.50.0/24
  transmission:
    image: lscr.io/linuxserver/transmission
    container_name: transmission
    environment:
      - PUID=1000 # User id
      - PGID=1000 # Group id
      - TZ=Europe/London # Your current timezone
    volumes:
      - ./transmission:/config # Change this to your docker config folder
      - /home/thomas/Downloads:/downloads # Change this to your download folder
    ports:
      - 9091:9091 # Web UI port
      - 51413:51413 # Torrent port (TCP)
      - 51413:51413/udp # Torrent port (UDP)
    restart: unless-stopped # This makes sure that the application restarts when it crashes
