services:
  lidarr:
    container_name: lidarr
    image: ghcr.io/hotio/lidarr
    ports:
      - "8686:8686"
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=Etc/UTC
    volumes:
      - ./lidarr:/config
      - /media/thomas/8bdfe832-fe5b-40ed-bcfb-a468bb0dcf39/Gros/share/Audiotheque:/data
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
#    user: uid:gid
    network_mode: 'host'
    volumes:
      - /path/to/config:/config
      - /path/to/cache:/cache
      - type: bind
        source: /media/thomas/8bdfe832-fe5b-40ed-bcfb-a468bb0dcf39/Gros/Plex
        target: /media
    restart: 'unless-stopped'
    extra_hosts:
      - 'host.docker.internal:host-gateway'
  plex:
    image: plexinc/pms-docker:public
    container_name: plex
    restart: unless-stopped
    networks:
      - default
    ports:
      - "32400:32400/tcp"
      - "3005:3005/tcp"
      - "8324:8324/tcp"
      - "32469:32469/tcp"
      - "1900:1900/udp"
      - "32410:32410/udp"
      - "32412:32412/udp"
      - "32413:32413/udp"
      - "32414:32414/udp"
      - "33400:33400" # If you use Plex Web Tools
      - "32500:32500"
      - "20000:20000"

    volumes:
      - ./plex:/config
      - ./plex/tmp:/transcode
      - /media/thomas/8bdfe832-fe5b-40ed-bcfb-a468bb0dcf39/Gros/Plex:/data
      - /media/thomas/8bdfe832-fe5b-40ed-bcfb-a468bb0dcf39/Gros/share/Audiotheque:/music
    environment:
      TZ: $TZ
      HOSTNAME: "dockerPlex"
      PLEX_CLAIM: claim-1-ALD1Fzx-bQ5W_uNuQg
      PLEX_UID: $PUID
      PLEX_GID: $PGID
      ADVERTISE_IP: http://192.168.50.10:32400/
      ALLOWED_NETWORKS: 192.168.50.0/24
  transmission:
    image: lscr.io/linuxserver/transmission
    container_name: transmission
    environment:
      - PUID=1000 # User id
      - PGID=1000 # Group id
      - TZ=Europe/London # Your current timezone
    volumes:
      - ./transmission:/config # Change this to your docker config folder
      - /home/thomas/Downloads:/downloads # Change this to your download folder
    ports:
      - 9091:9091 # Web UI port
      - 51413:51413 # Torrent port (TCP)
      - 51413:51413/udp # Torrent port (UDP)
    restart: unless-stopped # This makes sure that the application restarts when it crashes
